@font-face {
  font-family: "netflix-sans";
  src: url("fonts/NetflixSans_W_Rg.woff2") format("woff2"),
    url("fonts/NetflixSans_W_Md.woff2") format("woff2"),
    url("fonts/nf-icon-v1-93.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "netflix-sans";
  color: white;
}
body {
  background-color: black;
}
.grey-box {
  background-color: grey;
  height: 10px;
  width: auto;
}
#catalog-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 115vh;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 25px 0px 25px;
  background-color: initial;
  background-color: rgba(0, 0, 0, 0.6);
}
header img {
  width: 89px;
  height: 24px;
}
#language-form {
  display: inline;
  margin-right: 5px;
}
#language-form select {
  padding: 4px 10px;
  border-radius: 3px;
  justify-content: space-between;
  background: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}
header a {
  background-color: red;
  padding: 7px 13px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
main,
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main {
  background-color: rgba(0, 0, 0, 0.6);
  height: 450px;
}
main h1 {
  font-weight: bold;
  font-size: 32px;
}
main p {
  font-size: 18px;
  margin-top: -8px;
}
form label {
  font-size: 18px;
  display: block;
  margin: 15px 0;
}
form input {
  padding: 17px 20vw 17px 15px;
  border-radius: 3px;
  border: 1px solid;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: grey;
}
form button {
  font-weight: bolder;
  font-size: 20px;
  color: azure;
  padding: 15px 20px;
  border-radius: 3px;
  background-color: red;
  cursor: pointer;
  border: 0 solid transparent;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 72px 20px;
}
section h2,
aside h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
section p {
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
}
#tv-vedio {
  position: absolute;
  padding-top: 80px;
}
section img {
  position: relative;
  z-index: 1;
}
#download-showcase {
  position: absolute;
  margin-top: 400px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 5.6px 12px;
  z-index: 1;
  display: flex;
  background-color: black;
}
#download-cover-img {
  height: 65px;
  width: 45px;
}
#downloading-gif {
  margin-top: 5px;
  height: 48px;
  width: 48px;
}
#download-name {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
#downloading-text {
  font-size: 14px;
  color: blue;
  position: relative;
  top: 17px;
  right: 117px;
}
#multiple-devices-video {
  position: absolute;
  margin-bottom: 50px;
  width: 420px;
  height: 230px;
}
aside {
  padding: 72px;
}
#faq {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding: 20px 0 30px;
}
#faq button,
#faq span {
  background-color: #303030;
  border: 0;
  font-size: 26px;
  font-weight: 400;
  text-align: left;
  padding: 24px;
  width: 100%;
}
#faq button {
  margin-bottom: 5px;
}
#faq span {
  width: auto;
  margin-top: -3px;
  margin-bottom: 5px;
}
footer {
  padding: 0 32px;
  margin: 32px 0;
}
footer a,
footer p {
  color: #757575;
  display: block;
  margin: 16px 0;
}
footer span {
  display: flex;
  justify-content: space-between;
}
footer div {
  width: 50%;
}
footer p a {
  display: inline;
}
