@font-face {
  font-family: "netflixsans";
  src: url("fonts/NetflixSans_W_Rg.woff2") format("woff2"),
    url("fonts/NetflixSans_W_Md.woff2") format("woff2"),
    url("fonts/nf-icon-v1-93.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  color: white;
}
#bodyWrapper {
  overflow: hidden;
  position: relative;
}
body {
  font-family: "netflixsans";
  background-image: url("images/IN-en-20211220-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-repeat: no-repeat;
  background-size: 100% 115vh;
  background-position: 0 -44px;
  background-color: black;
}
#box {
  width: 100vw;
  height: 115vh;
  background-color: rgba(0, 0, 0, 0.6);
}
header,
section,
main {
  position: relative;
  bottom: 762px;
}
#ntfLogo {
  position: relative;
  top: 27.5px;
  left: 56px;
  width: 134px;
  height: 36px;
}
.langstr {
  border: 1px solid #aaa;
  background-color: black;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 13.5px;
}
#langstr1 {
  position: relative;
  bottom: 10px;
  left: 1090px;
}
.langStrOpt {
  background-color: grey;
}
#signIn {
  background-color: #e50914;
  padding: 6px 17px;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  bottom: 39px;
  left: 1209px;
}
#Intro {
  max-width: 640px;
  margin-top: 137px;
  margin-left: 355px;
  font-size: 25.5px;
  line-height: 1;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}
#Intro1 {
  font-weight: 400;
}
.giveEmail {
  margin-top: 30px;
  margin-left: 3px;
  font-weight: 400;
  font-size: 19px;
  text-align: center;
}
#emailPrg {
  margin-bottom: 15px;
}
#emailInput {
  border: 1px solid black;
  padding: 10px 10px 0;
  font-size: 16px;
  min-width: 450px;
  height: 50px;
  color: black;
}
#emailBtn {
  background-color: #e50914;
  padding: 16px 30px;
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
  border: 1px solid black;
  position: relative;
  bottom: 2.5px;
  right: 5px;
  width: auto;
}
h3 {
  font-size: 7px;
  background-color: #222;
  position: relative;
  color: #222;
  top: 160px;
}
.playcard1 {
  background-color: black;
  font-size: 25.5px;
  line-height: 1.2;
  max-width: 570px;
  padding-left: 130px;
  padding-right: 650px;
  padding-top: 90px;
  height: 380px;
  position: relative;
  top: 160px;
}
.playcard2 {
  font-size: 25.5px;
  line-height: 1.2;
  max-width: 550px;
  padding-right: 130px;
  padding-left: 650px;
  padding-top: 90px;
  height: 380px;
  position: relative;
  top: 160px;
}
#vedioTV {
  width: 390px;
  height: 213px;
  position: relative;
  left: 665px;
  bottom: 200px;
}
#TV {
  width: 525px;
  height: 397px;
  position: relative;
  left: 600px;
  bottom: 503px;
}
#mobile {
  width: 500px;
  height: 380px;
  position: relative;
  bottom: 280px;
  right: 600px;
}
#mobileOver {
  background-color: black;
  width: 302px;
  height: 76px;
  padding: 8px 12px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 2em 0 #000;
  border-radius: 0.75em;
  position: relative;
  bottom: 405px;
  right: 500px;
}
#mobileOverImg1 {
  width: 51px;
  height: 72px;
}
#mobileOverImg2 {
  width: 48px;
  height: 60px;
  position: relative;
  bottom: 110px;
  left: 250px;
}
#mobileOverPara1 {
  font-size: 17px;
  font-weight: bold;
  position: relative;
  bottom: 65px;
  left: 60px;
}
#mobileOverPara2 {
  font-size: 15px;
  position: relative;
  color: #0071eb;
  bottom: 65px;
  left: 60px;
}

#vedioDevicePile {
  width: 351px;
  height: 197.5px;
  position: relative;
  left: 665px;
  bottom: 200px;
}
#devicePile {
  width: 555.5px;
  height: 416.5px;
  position: relative;
  left: 560px;
  bottom: 448px;
}
#childrenImg {
  width: 505px;
  height: 380px;
  position: relative;
  bottom: 280px;
  right: 520px;
}
aside {
  position: relative;
  bottom: 550px;
}
#faq {
  text-align: center;
  font-size: 3.125rem;
  padding-bottom: 30px;
}
li {
  list-style: none;
  position: relative;
  left: 250px;
}
button,
span {
  background-color: #303030;
  border: 0;
  font-size: 26px;
  font-weight: 400;
  text-align: left;
}
button {
  padding: 20px;
  margin-top: 10px;
  width: 808px;
}
span {
  display: block;
  max-width: 768px;
  padding: 20px;
  margin-top: 1px;
}
aside > h3 {
  position: relative;
  top: 100px;
}
footer {
  position: relative;
  bottom: 380px;
  left: 200px;
  height: 0;
}
footer a,
footer p {
  font-size: 1em;
  color: #757575;
  text-decoration: none;
}
footer p {
  margin-bottom: 20px;
}
p ~ div a {
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}
#links2 {
  position: relative;
  left: 240px;
  bottom: 99px;
}
#links3 {
  position: relative;
  left: 480px;
  bottom: 198px;
}
#links4 {
  position: relative;
  left: 720px;
  bottom: 297px;
}
.langstr2 {
  color: #757575;
  border-color: #333;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 140px;
  right: 312px;
}
#footerPara {
  font-size: 13px;
  position: relative;
  bottom: 280px;
}
@media (min-width: 500px) and (max-width: 1000px) {
  #ntfLogo {
    position: relative;
    top: 40px;
    left: 45px;
    height: 29px;
    width: 108px;
  }
  #langstr1 {
    position: relative;
    top: 0px;
    left: 420px;
  }
  #signIn {
    position: relative;
    bottom: 28px;
    left: 540px;
  }
  #Intro {
    max-width: 640px;
    font-size: 15px;
    margin: 140px 0 0 0;
    font-size: 25.5px;
  }
  #emailPrg {
    max-width: 470px;
    margin: -10px 0 10px 90px;
  }
  #emailInput {
    padding: 0px 10px;
    font-size: 13px;
    min-width: 500px;
  }
  #emailBtn {
    border: 0;
    padding: 10px 15px;
    font-size: 16px;
    margin: 15px 0 0 7px;
  }
  .playcard1,
  .playcard2 {
    font-size: 20px;
    line-height: 1.1;
    padding: 45px;
    text-align: center;
    height: 600px;
    position: relative;
  }
  #vedioTV {
    width: 419px;
    height: 234px;
    position: relative;
    left: 0px;
    top: 50px;
  }
  #TV {
    width: 574px;
    height: 430px;
    position: relative;
    left: 0px;
    bottom: 270px;
  }
  h1,
  p {
    position: relative;
    z-index: 1;
  }
  #mobile {
    width: 570px;
    height: 430px;
    position: relative;
    bottom: 30px;
    right: 0px;
  }
  #mobileOver {
    width: 344px;
    height: 68px;
    margin: 0;
    position: relative;
    bottom: 150px;
    left: 100px;
  }
  #mobileOverImg1 {
    width: 51px;
    height: 72px;
    position: relative;
    right: 150px;
  }
  #mobileOverImg2 {
    width: 48px;
    height: 60px;
    position: relative;
    bottom: 110px;
    left: 150px;
  }
  #mobileOverPara1 {
    font-weight: bold;
    position: relative;
    bottom: 60px;
    left: -50px;
  }
  #mobileOverPara2 {
    position: relative;
    bottom: 60px;
    left: -62px;
  }
  #vedioDevicePile {
    width: 361px;
    height: 204px;
    position: relative;
    left: 0px;
    top: 30px;
  }
  #devicePile {
    width: 574px;
    height: 430px;
    position: relative;
    left: 0px;
    bottom: 220px;
  }
  #childrenImg {
    width: 574px;
    height: 430px;
    position: relative;
    top: 20px;
    right: 0px;
  }
  aside {
    position: relative;
    bottom: 550px;
  }
  #faq {
    font-size: 40px;
    padding: 0px;
  }
  li {
    position: relative;
    left: 40px;
  }
  button,
  span {
    font-size: 20px;
  }
  button {
    padding: 15px 20px;
    width: 500px;
  }
  span {
    width: 460px;
    padding: 15px 20px;
  }
  footer {
    position: relative;
    bottom: 380px;
    left: 75px;
  }
  #links2 {
    position: relative;
    left: 140px;
    bottom: 99px;
  }
  #links3 {
    position: relative;
    left: 280px;
    bottom: 198px;
  }
  #links4 {
    position: relative;
    left: 420px;
    bottom: 297px;
  }
  .langstr2 {
    position: relative;
    bottom: 140px;
    right: 142px;
  }
}
